body{font-family:Arial,sans-serif;background-color:#F5F5F5;color:#151515;margin:0;padding:0;font-size:1.5rem;display:flex;flex-direction:column;min-height:100vh;overflow-x:hidden}
.menu-container{display:flex;justify-content:flex-end}
img.menu{width:3rem}
#contact{display:flex;justify-content:flex-end}
.content{flex-grow:1}
*{margin:0;padding:0;box-sizing:border-box}
.position-fixed{position:fixed;top:0;left:0;width:100%;background-color:#F5F5F5;z-index:999}
.header{background-color:#F5F5F5;display:flex;justify-content:space-between;align-items:center;padding:15px 20px;box-shadow:1px 1px 5px 2px rgba(102,90,90,0.75);-webkit-box-shadow:1px 1px 5px 2px rgba(102,90,90,0.75);-moz-box-shadow:1px 1px 5px 2px rgba(102,90,90,0.75)}
header h1{color:#BB86FC;margin:0}
.nav{padding:10px;text-align:center;font-size:1.5rem}
.nav:hover{opacity:1}
.nav a{color:gray;margin:0 15px;text-decoration:none}
nav a:hover{color:#8d8d8d}
a{text-decoration:none;color:#575757}
a:hover{color:#8d8d8d}
main{padding-left:20px;padding-right:20px;padding-top:100px}
h2{font-size:2rem}
h1{font-size:3rem}
h1,h2,h3,h4,h5,h6,a{font-weight:bold}
main p{line-height:1.6}
.footer{position:fixed;bottom:0;left:0;display:flex;align-items:center;flex-direction:column;width:100%;z-index:1000;padding:15px;background:#151515;color:#E0E0E0;opacity:0}
.footer.visible{opacity:1}
img,img .formation,main img{width:3rem}
.hidden{display:none}
.align-row{display:flex}
.align-column{display:flex;flex-direction:column}
.space-around-center{display:flex;justify-content:space-between}
.justify{text-align:justify}
.marge-gauche{margin-left:50px;max-width:800px}
.about-school-fontsize{font-size:2rem}
.projects{display:flex;flex-wrap:wrap;flex-direction:column}
._project{display:flex;flex-wrap:wrap;flex-direction:column;margin-top:10px;justify-content:flex-start;margin:10px 0}
.center{display:flex;justify-content:center}
[popover]{top:0;width:100%;z-index:1000;padding:10px 20px;background:#151515;border:none}
.display-flex{display:flex}
.color-dark-gray{color:black}
.stage{font-size:1.5rem}
iframe{width:100%}
@media (max-width:768px){.align-row{display:flex;flex-direction:column;justify-content:center}.justify{text-align:start}.align-column{display:flex;flex-direction:column}footer{position:relative}.space-around-center{display:flex;justify-content:space-around;align-items:flex-start}.absolute{text-align:center}nav{display:flex;justify-content:center;font-size:0.1rem}}
