/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fond sombre */
    color: #E0E0E0; /* Texte clair */
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Empêche le scroll horizontal */
}

.content {
    flex-grow: 1; /* Permet au contenu de pousser le footer en bas */
    padding: 20px;
}

/* En-tête */
header {
    background-color: #1F1B24; /* Gris foncé */
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #BB86FC; /* Violet vif */
    margin: 0;
}

/* Navigation */
nav {
    background-color: #2C2C2C; /* Gris plus foncé */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #E0E0E0; /* Texte clair */
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #03DAC6; /* Teal vif au survol */
}

a {
    text-decoration: none;
    color: #4b77a3;
}

a:hover{
    color: #03DAC6;
}

/* Section principale */
main {
    padding: 20px;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
}

main p {
    line-height: 1.6;
}

/* Pied de page */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1F1B24;
    color: #E0E0E0;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.footer.visible {
    opacity: 1;
}

img {
    width: 3rem;
}

main img {
    width: 25%;
}

.hidden {
    display: none;
}

.align-row {
    display: flex;
}

.align-column {
    display: flex;
    flex-direction: column;
}

.space-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-school-fontsize {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .align-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        position: relative;
    }

    .space-around-center {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .absolute {
        text-align: center;
    }

